$color: #e1e1e1;

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  color: $color;

  .search__container {
    width: 250px;

    .search__title {
      line-height: 40px;
      letter-spacing: 3px;
      text-align: center;
      margin-bottom: 15px;
    }

    .search__form {
      position: relative;

      .search__form__input {
        background-color: rgba(225, 225, 225, 0.25);
        padding: 7px;
        font-size: 1rem;
        color: $color;
        letter-spacing: 2px;
        backdrop-filter: blur(3px);
        transition: 0.3s;
        outline: none;
        border: 2px solid rgba(225, 225, 225, 0.1);

        &:focus {
          border-color: rgba(225, 225, 225, 0.5);
        }
      }

      .search__form__button {
        padding: 15px;
        border: 2px solid $color;
        margin-top: 20px;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background-color: rgba(225, 225, 225, 0.9);
        }
      }

      input {
        width: 100%;
        border: none;
        border-radius: 10px;
      }

      .errorMessage {
        width: max-content;
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translateX(-50%);
        color: red;
        font-weight: 300;
        font-size: 0.9rem;
      }
    }
  }

  .search__line {
    height: 300px;
    width: 1px;
    background-color: $color;
  }
}

@media screen and (max-width: 768px) {
  .search {
    flex-direction: column;
    row-gap: 2rem;
    margin: 3rem 0;

    .search__line {
      height: 1px;
      width: 85%;
      background-color: $color;
    }
  }
}
